/*=== BASE.CSS ===*/

/**
 * CONTENTS
 *
 * SETTINGS
 * Box-sizing...........Better default `box-sizing`.
 * Margins..............Top and bottom margins global values.
 * Paddings.............Top and bottom paddings global values.
 * Width................Base width values.
 * Height...............Base height values.
 *
 */


 * 
 {
   box-sizing: border-box;
   margin:     0;
   padding:    0;
 }
 
 
 body {
   margin:     0;
   background: url('https://i.imgur.com/X9eWtyr.jpg') repeat center;
 }
 
 html {
   scroll-behavior: smooth;
 }
 
 
 @media (max-width: 768px) {  
   .container:before {
     content:          "";
     position:         fixed;
     top:              0;
     left:             0;
     right:            0;
     bottom:           0;
     z-index:          -1;
     background-image: url(https://i.imgur.com/X9eWtyr.jpg);
     background-size:  cover;
     opacity:          0.3;
 }
 }
 
 
 /* HEADER */
 
 .header {
   width:   100%;
   margin:  0 auto;
   padding: 1.5rem 2.5rem;
 }
 
 @media (max-width: 768px) {  
   .header {
     display:     grid;
     text-align:  center;
     line-height: 2.25rem;
   }
 }
 
 /* MENU */
 
 .menu {
   width:   max(70%,.75rem);
   margin:  0 auto;
   padding: 1rem 0;
 }
 
 .btn {
   margin:  .2rem 1rem;
   padding: 1.5rem;
   height:  max(40%,.5rem);
 }
 
 /* MAIN */
 
 .main {
   width: max(50rem, 70vw);
   margin:      0 auto;
   padding:     2rem 3.5rem;
   line-height: 1.5;
 }
 
 /* FOOTER */
 
 .footer {
   padding: 1rem;
 }
 
 
 
 /*=== LAYOUT ===*/
 
  /**
  * CONTENTS
  *
  * LAYOUT...............Basic rules for layout.
  * SECTIONS.............Rules for each sections.
  * MODIFIERS............Media queries for the layout.
  *
  */
 
 .container {
   display:               grid;
   grid-template-areas:
                          "header"
                          "menu"
                          "main"
                          "footer"   ;
   grid-template-columns: auto;
   grid-template-rows:    .25fr .15fr 1fr .1fr;
   grid-gap:              0 1rem;
   height: 100vh;
 }
 
 .header {
   grid-area: header;
 }
 
 .menu {
   grid-area: menu;
 }
 
 .main {
   grid-area: main;
 }
 
 .footer {
   grid-area: footer;
 }
 
 
 /*=== SECTIONS ===*/
 
 /* HEADER */
 
 .header {
   display: flex;
   align-items: center;
   justify-content: center;
   background: url('https://i.imgur.com/TkDcCFj.jpeg') no-repeat 20% center;
   background-size: cover;
   display: table;
   width: 100%;
   background-attachment: fixed;
   height: 120vh;
 }
 
 /* MENU */
 
 .menu {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
 }
 
 .btn {
   display: flex;
   align-items: center;
 }
 
 
 /* MAIN */
 
 .main {
   background: hsla(184,5%,62%,.1);
   padding: max(.5rem,2vw);
   font-weight:     400;
 }
 
 .section-left, .section-right{
   max-height: 9rem;
   padding: max(1rem,1vw);
   margin: 0 0 1rem 0; /* ez itt kell? */
   display: flex;
   align-items: center;
 }
 
 .program-image-right {
   margin-right: 1rem;
   padding-left: 6rem;
 }
 
 .program-text-left {
   font-size: 1.15rem;
   flex: 1;
   padding-right: 7rem;
   font-size: max(1rem, 1.1vw);
 }
 
 .program-image-left {
   margin-left: 1rem;
   padding-right: 6rem;
   order: 1;
 }
 
 .program-text-right {
   font-size: 1.15rem;
   flex: 2;
   padding-left: 7rem;
   font-size: max(1rem, 1.1vw);
 }
 
 
 /* FOOTER */
 
 .footer {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
 }
 
 
 /*=== COMPONENTS ===*/
 
 /* HEADER */
 
 body {
   color: #182223;
 }
 
 /* MENU */
 
 .menu {
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 500;
   text-decoration: none;
 }
 
 .btn {
   text-decoration: none;
   color: white;
   background-color: #4a6867;
   border-radius:    1.5rem;
 }
 
  .btn:hover {
   background-color: #2e4443;
   transition:       background-color .4s ease-in-out;
 }
 
 @media (max-width: 768px) {
   .btn {
     height: 7vh;
     padding: 1rem;
   }
 }
 
 /* MAIN */
 
 .main {
   font-family:    'Ubuntu', sans-serif;
   text-decoration: none;
 }
 
 
   img:hover {
     transform: scale(1.03);
     transition: all 0.7s ease-in-out;
   }  
 
 /* PROGRAM */
 
 .program-image-left, .program-image-right {
   height: min(140rem,25vh);
 }
 
 @media (max-width: 768px) {
   .program {
     margin: .05rem;
   }
 }
 
 
 /* SZTORI */
 
 #sztori {
   font-size: 1.25rem;
   padding-top: 2rem;
   padding-bottom: 2.5rem;
 }
 
 .type {
   font-weight: 500;
   font-size: .85rem;
   line-height: 1.75rem;
 }
 
 .felso {
   font-size: 3.5rem;
   font-family: 'Lily Script One', cursive;
   opacity: 0.65;
 }
 
 .also {
   font-size: 3.5rem;
   font-family: 'Lily Script One', cursive;
   padding-top: 2rem;
   text-align: right;
   opacity: 0.65;
 }
 
 
 /* JATEK */
 
 #valassz {
   font-family: ubuntu;
   font-size: 1.2rem;
   font-weight: 500;
   margin: 2rem 1rem 2rem;
   text-transform: uppercase;
 }
 
 .jatek {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   line-height: 180%;
 }
 
 .scene {
   perspective: 60rem; /* amilyen ívben fordul a kártya */
 }
 
 .card {
   height: min(20rem,35vh);
   width: max(8rem, 12vw);
   margin: min(.25rem,.65vh);
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   transition: transform 1s;
   transform-style: preserve-3d;
   cursor: pointer; /* rámutató egér */
   position: relative;
   font-family: ubuntu;
   font-size: max(.85rem, 1.25vw);
 }
 
 .card.is-flipped {
   transform: rotateY(180deg);
 }
 
 .card__face {
   position: absolute;
   width: 100%;
   height: 100%;
   color: white;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   padding: 1rem;
   text-align: center;
 }
 
 .card__face--front {
   background: #28605e;
 }
 
 .card__face--back {
   background: #14455e;
   transform: rotateY(180deg);
 }
 
 
 .card__face {
   display: flex;
   align-self: center;
   align-items: center;
   justify-content: center;
 }
 
 @media (max-width: 768px) {
   .jatek {
     margin: .05rem;
   }
   .card {
     flex: 0 1 15%;
     height: 24vh;
     line-height: 1.3rem;
   }
 }
 
 
 /* FOOTER */
 .footer {
   background: #314a55;
   font-family: 'Josefin Sans', sans-serif;
   color: #edeee3;
   font-size: .85rem;
   line-height: 1.1rem;
 }
 
 .strong {
   font-weight: 700;
   color: #eeefe5;
   font-size: .95rem;
 }
 
 .strong:hover {
   color: #afccd3;
   transition: color .4s ease-in-out;
 }
 
 
 @media (max-width: 768px) {
  .footer {
     min-height: 3rem;
     text-align: center;
     font-size: .8rem;
     line-height: 1.15rem;
   }
   
   .strong {
   font-weight: 700;
   color: #eeefe5;
   font-size: .8rem;
 }
 }
 
 
 
 /*=== MODIFIERS ===*/
 @media (max-width: 768px) {
   .container {
     grid-template-areas: 
                            "header"
                            "menu"
                            "main"
                            "footer";
     grid-template-columns: 100%;
     display:               grid;
     margin-left:           auto;
     margin-right:          auto;
     }
 
   /*ez most még nem
     .header {
       background: url('https://i.imgur.com/VhQ5ARZ.jpg') no-repeat center;
       background-size: cover;
       height:   100vh;
     }
   }
 */
 